#section-2 {
    height: 130vh;
    background-color: #232C33;
}

.blue-color {
    color: #188DAA;
}

.skills-con-top {
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px
}

.skills-title-con, .skills-text-con {   
    display: flex;
    justify-content: center;
}

.skills-title-con {
    height: 40%;
    align-items: flex-end;
    padding-bottom: 10px;
}

.skills-title {
    color: #FFF;
    font-size: 50px
}

.skills-text-con {
    height: 60%;
    align-items: flex-start;
    padding-top: 10px;
}

.skills-text {
    color: white;
    font-size: 20px;
    text-align: center;
}

.skills-con-bottom {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.skills-box { 
    height: 80%;
    width: 300px;
    background-color: #FFF;
    box-shadow: 0px 0px 20px rgba(0,0,0, 0.25);
}

.box-1, .box-2, .box-3, .box-4, .box-5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-box :nth-child(1) {
    height: 20%;
    align-items: flex-end;
}

.skills-box :nth-child(2) {
    height: 15%;
}

.skills-box :nth-child(3) {
    height: 15%;
}

.skills-box :nth-child(4) {
    height: 15%;
}

.skills-box :nth-child(5) {
    height: 35%;
}

.box-1 :nth-child(1) {
    color: #232C33;
    height: 60%;
}

.box-3 :nth-child(1) {
    font-size: 14px;
    text-align: center;
    margin-top: -22px;
}

.box-4 :nth-child(1) {
    color: #188DAA;
    font-weight: 700
}

.box-5 {
    padding-bottom: 200px;
}

.skills-box-un-list {
    margin-top: -50px;    
}

.skills-box-list {
    list-style: none;
    margin: 30px 0;
}

@media only screen and (max-width: 1920px) {

    #section-2 {
        height: 110vh;
    }

    .skills-con-top {
        padding-bottom: 50px;
    }

    .skills-con-bottom {
        margin-top: -50px;
    }

    .skills-box {
        height: 70%;
    }

}

@media only screen and (max-width: 1400px) {

    #section-2 {
        height: 140vh;
    }

    .skills-con-top {
        padding-bottom: 0px;
    }

    .skills-con-bottom {
        margin-top: -50px;
    }
    
}

@media only screen and (max-width: 600px) {

    #section-2 {
        height: 160vh;
    }

    .skills-title {
        font-size: 22px;
    }
    
    .header-dummy-sec2 {
        height: 0vh;
    }

    .skills-text {
        width: 75%;
        font-size: 16px;
    }

    .skills-con-bottom {
        flex-direction: column;
        gap: 50px;
        padding-top: 70px;
        height: 75%;
    }

    .skills-con-top {
        height: 20%;
    }

    .skills-box {
        height: 45%;
        width: 280px;
    }

}


